<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
          http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
          http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd">

    <!-- TODO: publish RESTful service -->

    <bean id="service" class="be.anova.course.cxf.rs.ForestService">
        <property name="forest" ref="forest"/>
    </bean>

    <bean id="forest" class="be.anova.course.cxf.Forest">
        <property name="name" value="Old Forest"/>
        <property name="trees">
            <list>
                <bean class="be.anova.course.cxf.Tree">
                    <property name="species" value="Sorbus aucuparia"/>
                    <property name="age" value="10"/>
                </bean>
                <bean class="be.anova.course.cxf.Tree">
                    <property name="species" value="Quercus petraea"/>
                    <property name="age" value="53"/>
                </bean>
                <bean class="be.anova.course.cxf.Tree">
                    <property name="species" value="Alnus glutinosa"/>
                    <property name="age" value="23"/>
                </bean>
            </list>
        </property>
    </bean>

</beans>